.current-weather {
  max-width: 120rem;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, .25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
  background-color: rgba(255, 255, 255, 0.30);
  backdrop-filter: blur(15px);
  color: black;
  margin: 2rem auto 6rem auto;
  padding: 2rem 1rem;
}

.weather-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weather-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.weather-icon {
  width: 8rem;
  height: 8rem;
}

.weather-icon-small {
  width: 2rem;
  height: 2rem;
}

.weather-temperature {
  display: flex;
}

.temperature {
  grid-row: 1/-1;
  font-size: 6rem;
}

.degrees {
  display: inline-block;
  margin: 0.5rem 1rem 0 1rem;
  font-size: 2rem;
}

.weather-details {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: .2rem;
}

.weather-right {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.city {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 1.5px;
}

.time {
  font-size: 1.5rem;
  margin: 0.5rem;
  letter-spacing: .5px;
}

.description {
  font-size: 1.5rem;
  letter-spacing: .5px;
}

.weather-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.sunrise-sunset {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}